<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- ================== USER MODULE ================== -->
    <bean id="springUserAction" class="framgiavn.project01.web.action.UserAction"
        scope="prototype">
        <property name="userBusiness" ref="UserBusiness" />
        <property name="followBusiness" ref="FollowBusiness" />
    </bean>
    <!-- ================== WORD ANSWER CATEGORY MODULE ================== -->
    <bean id="springWordAction" class="framgiavn.project01.web.action.WordAction"
        scope="prototype">
        <property name="wordBusiness" ref="WordBusiness"></property>
        <property name="wordAnswerBusiness" ref="WordAnswerBusiness"></property>
        <property name="categoryBusiness" ref="CategoryBusiness"></property>
    </bean>
</beans>